<div class="row">
    <div class="col-lg-4 well pull-right">
      <h1>AirFly</h1>
      <p>This is your one stop app for flight reservation.</p>
      <%= render partial: 'search_form' %>
    </div>
</div>
