<div class="panel panel-default">
  <div class="panel-heading">Plane Details</div>
  <ul class="list-group">
    <li class="list-group-item"><p><strong>Reg No: </strong><%= @flight.plane.code %></p></li>
    <li class="list-group-item"><p><strong>Name: </strong><%= @flight.plane.name %></p></li>
    <li class="list-group-item"><p><strong>Capacity: </strong><%= @flight.plane.capacity %></p></li>
    <li class="list-group-item"><p><strong>Seats Left: </strong>4</p></li>
  </ul>
</div>
